.main{width:940px;height:560px;border:1px solid #00A2E8;z-index:9000;display:none;position: absolute;}
.main .rowHead,.main .rowFoot{width:940px;height:30px;background-color:#00A2E8;position:absolute;cursor: move;}
.main .rowHead .headline{width:160px;height:30px;margin-left:60px;text-align:center;font-size:20px;font-weight:bold;color:#FFFFFF;}
.main .rowHead .btnClose{position:absolute;top:0px;right:20px;cursor:pointer;}
.main .rowContent{width:940px;height:500px;margin-top:30px;}
.main .rowContent .contentMain{width:920px;height:500px;margin-left:10px;margin-right:10px;border:1px solid #00A2E8;}
.main .rowFoot input{float:right;height:30px;margin-right:10px;background-color:#00A2E8;}
.main .rowContent .contentMain ul{list-style: none;}
.main .rowContent .contentMain ul li{display:inline;width:200px;height:140px;float:left;margin:0px 15px 40px 0px;position:relative;}
.main .rowContent .contentMain ul li>.img{width:200px;height:120px;}
.main .rowContent .contentMain ul li .addImg{width:200px;height:140px;}
.main .rowContent .contentMain ul li .addImg>span{width:200px;height:140px;position:absolute;top:0px;}
.main .rowContent .contentMain ul li:hover .closeBtn{display:block;}
.main .rowContent .contentMain ul li span>.Btn{width:199.02px;height:18px;float:left;border:1px solid #00A2E8;}
.main .rowContent .contentMain ul li span>.closeBtn{display:none;}
.main .rowContent .contentMain ul li span .file{width:200px;height:140px;opacity:1;position: absolute;}